on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request. 
  push:
    paths:
      - 'packages/lib/**/*'
    branches:
      - main
name: Publish lib dev tag
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
            fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          always-auth: true
          node-version: '14.7.0'
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - run: git config --global user.email "davishinjik@gmail.com"
      - run: git config --global user.name "Davi Kawasaki"
      - run: npm i
      - run: npm run publish-lib-dev